In [2]:
import pandas as p
data=p.read_csv('ftp://sidads.colorado.edu/pub/DATASETS/NOAA/G01130/wgi_feb2012.csv',encoding = 'ANSI')

In [ ]:
data.head(1000000)

# Markdown Fun

---
## Details of Glaciers in world

* **Count:**

In [ ]:
data["wgi_glacier_id"].count()

* *Mean by Continent Code*

In [ ]:
data.groupby('continent_code').wgi_glacier_id.count().reset_index()

---

# Method Chaining
---

In [5]:
data_chain = (data.rename(columns={'wgi_glacier_id':'Glacier ID','political_unit':'Country'})
       .dropna(subset = ['tongue_activity','mean_elev'])
       .reset_index()
       )
data_chain_2 = (data_chain
       .loc[:,['tongue_activity','Glacier ID','Country','continent_code','lat','lon','orientation_acc','orientation_abl','source_nourish','mean_elev']]
       .reset_index()
       )
data_chain_2

,index,tongue_activity,Glacier ID,Country,continent_code,lat,lon,orientation_acc,orientation_abl,source_nourish,mean_elev
0,0,0.0,AF5Q112B0009,AF,5,34.807,68.891,N,NW,0.0,3925.0
1,1,0.0,AF5Q112C0025,AF,5,35.438,69.552,S,S,0.0,4540.0
2,2,0.0,AF5Q112C0085,AF,5,35.869,70.224,SW,W,0.0,4700.0
3,3,0.0,AF5Q112C0146,AF,5,35.458,70.023,NW,NW,0.0,4113.0
4,4,0.0,AF5Q112C0151,AF,5,35.409,69.959,N,NE,0.0,4550.0
...,...,...,...,...,...,...,...,...,...,...,...
81558,81558,0.0,SU5X14319082,SU,5,39.520,73.720,NE,NE,1.0,4705.0
81559,81559,0.0,SU5X14319100,SU,5,39.600,73.930,N,N,1.0,4450.0
81560,81560,0.0,SU5X14320018,SU,5,38.030,71.470,E,E,1.0,4765.0
81561,81561,0.0,TF6C40302026,TF,6,-49.471,68.993,S,S,1.0,650.0
81562,81562,0.0,UG3B410A4005,UG,3,0.373,29.876,SW,SW,0.0,4760.0

In [13]:
def Procces(path):
    data_chain_1 = (p.read_csv(path,encoding = 'ANSI')
     .rename(columns={'wgi_glacier_id':'Glacier ID','political_unit':'Country'})
     .dropna(subset = ['tongue_activity','mean_elev'])
     .reset_index()
    )
data_chain_2 = (data_chain_1.loc[:,['tongue_activity','Glacier ID','Country','continent_code','lat','lon','orientation_acc','orientation_abl','source_nourish','mean_elev']]
       .reset_index()
       )
return data_chain_2

NameError: name 'data_chain_1' is not defined

In [14]:
procces('ftp://sidads.colorado.edu/pub/DATASETS/NOAA/G01130/wgi_feb2012.csv').head()

NameError: name 'procces' is not defined